body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.github-logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

@media (hover: hover) {
    .github-logo:hover {
        background-color: #007BFF;
        transform: scale(1.1);
    }
}

.lock-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #1d1d1d;
    opacity: 70%;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    z-index: 10;
    cursor: pointer;
    pointer-events: none;
    visibility: hidden;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.collapsible {
    padding-bottom: 25px;
    max-width: 650px;
}

details {
    width: 100%;
    text-align: center;
    overflow-y: auto;
    position: relative;
}

details>summary {
    list-style: none;
    font-family: inherit;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::before {
    font-family: "Font Awesome 6 Free";
    content: "\f05a";
    margin-right: 8px;
}

details ul {
    text-align: left;
    padding-left: 20px;
    margin: 0;
}

details li {
    margin-bottom: 8px;
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
}

details p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
}

summary {
    font-weight: bold;
    padding: 0.5em;
    transition: color 0.3s ease-in-out;
}

@media (hover: hover) {
    summary:hover {
        cursor: pointer;
        color: #007BFF;
    }
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

details .details-content {
    max-height: 100px;
    overflow-y: auto;
    padding-right: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    text-align: center;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.checkbox-container label {
    font-size: 12px;
}

.scroll-indicator {
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
    width: 30px;
    height: 30px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.scroll-indicator.visible {
    opacity: 1;
}

.scroll-indicator:not(.visible) {
    pointer-events: none;
}

.details-container {
    position: relative;
}

@media only screen and (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 80%;
        padding-bottom: 25px;

        .fa-arrow-right-long {
            transform: rotate(90deg);
        }
    }

    details {
        max-height: min(320px, 30vh);
    }

    details>summary {
        font-size: 18px;
    }
}

@media only screen and (orientation: landscape) {
    .container {
        display: flex;
        align-items: center;
        height: 40%;
        max-height: 1000px;
        width: 80%;
        max-width: 1000px;
        padding-bottom: 25px;
    }

    details {
        max-height: min(320px, 50vh);
    }

    details>summary {
        font-size: 20px;
    }
}

.dropdown {
    appearance: none;
    margin-left: 10px;
    width: 220px;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #007BFF;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.textbox {
    padding: 10px;
    margin: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    background-color: white;
}

.textbox:focus {
    outline: none !important;
    border: 1px solid #014d9f;
    box-shadow: 0 0 10px #719ECE;
}

.textbox-label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.textbox[contenteditable]:empty:before {
    content: attr(placeholder);
    color: gray;
    cursor: text;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
    aspect-ratio: 1 / 1;
}

.highlight {
    background-color: #00c5ff;
    border-radius: 5px;
    color: black;
    padding: 0px 2px;
}

.clickable {
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 4px 0;
}

.context-menu li {
    margin: 2px 6px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

@media (hover: hover) {
    .context-menu li:hover {
        background-color: #f0f0f0;
    }
}

.context-input {
    width: 145px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    cursor: default !important;
}

.context-input:hover {
    background-color: transparent !important;
}

.context-input input {
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: inherit;
    color: white;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: #1d1d1d;
        color: white;
    }

    .textbox {
        border: 1px solid #3d3d3d;
        background-color: #303030;
    }

    .button {
        border: 1px solid #3d3d3d;
        background-color: #014d9f;
    }

    .context-menu {
        background-color: #3d3d3d;
        border: 1px solid #4b4b4b;
    }

    @media (hover: hover) {
        .context-menu li:hover {
            background-color: #6d6d6d;
        }
    }
}